<%include ./partials/header %>

<form action="/create" method="POST">

  Course:<br>
    <input type="text" name="course" value="ECE 115">
    <br>
    Duration (m):<br>
    <input type="number" name="duration" value="2">
    <br><br>
    <input type="submit" value="Submit">

</form>

<%include ./partials/footer %>
