<% include ./partials/header %>
<% include ./partials/navbar %>

</div> <!-- backdrop -->

<% foundSessions.forEach(function(session){ %>
  <div>
    <p><%= session.course %></p>
  </div>
<% }) %>

<% include ./partials/footer %>
