<% include ./partials/header %>
  <link rel="stylesheet" href="stylesheets/landing.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  
  </head>
  <body>
    
<% include ./partials/navbar %>

<a href="#">
  <i class="fa fa-angle-double-down" 
    style="font-size: 48px; color: white; position: absolute; top: 90vh; left: 50vw; text-shadow: 0px 2px 4px #999999" ></i>
</a>

</div> <!-- backdrop -->
<div class="content">
  <div class="info-panel">
    <div class="container">
      
    </div>
  </div>
  <div class="info-panel">
    <div class="container">
      
    </div>
  </div>
  <div class="info-panel">
    <div class="container">
      
    </div>
  </div>
</div>

<% include ./partials/footer %>
