.info-panel {
    height: 500px;
}

.info-panel:nth-of-type(2) {
    background-color: #eeeeee;
}

.backdrop {
  height: 100vh;
  background: url(/img/study-1.jpg);
  background-size: cover;
}

i {
  -webkit-animation-name: bob;
  animation-name: bob;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@keyframes bob {
  0% { top: 90vh ;}
  50% { top: 89vh ;}
  100% { top: 90vh ;}
}