body {
    height: 100vh;
    background: linear-gradient(#74AD1B, #43A047);
}

h3 {
    text-align: center;
    color: #43A047;
}

input:focus {
    border: 1px solid #43A047 !important;
    box-shadow: 0 0 3px #43A047 !important;
    -moz-box-shadow: 0 0 3px #43A047 !important;
    -webkit-box-shadow: 0 0 3px #43A047 !important;
}

.container input, .container button {
    height: 40px;
}

.container {
    padding: 0;
    margin: auto auto;
    background-color: white;
    max-width: 420px;
    border-radius: 7px;
}

.form-cont {
    margin: 30px 60px;
}

.signup {
    display: block;
    padding: 20px;
    background: #f5f5f5;
    border-top: 1px solid #d1d1d1;
    text-decoration: none !important;
    text-align: center;
    color: rgba(100, 100, 100, 0.8);
    border-radius: 7px;
}

.logo {
    padding-top: 100px;
    text-align: center;
    height: 210px;
    width: 100vw;
}

.logo img {
    transform: scale(0.2, 0.2)
}

.btn-success {
    margin: 30px 0;
}